/*CSS STYLE SHEET FOR QUIZ GAME*/

.hide{
    display: none;
}

body{
    background-color: azure;
    margin: 50px;
}

#start-screen{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    border: 5px black solid;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#questions{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 500px;
    background-color: floralwhite;
    border: 5px orange solid;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

#game-over{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 36px;
    width: 500px;
    background-color: firebrick;
    border: 5px black solid;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

#top-scores{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 500px;
    background-color: lightyellow;
    border: 5px gold solid;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

#h2score{
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}